{% extends "layout-archetypes.html" %}

{% block head %}
    {{ super() }}
    <!-- Adding needed scripts -->
    <!-- No needed script -->
{% endblock %}

{% block content %}
    <h2>Navigation</h2>
    {{ navigation }}
    {{ navigation.previous }}
    {{ navigation.top }}
    {{ navigation.next }}
{% endblock %}

{% block footer %}
    <nav role="navigation">
        <a class="prev" href="{{ url_for('archetypes.index') }}">Strategy</a>
        <a href="{{ url_for('index') }}">Home</a>
        <a class="next" href="../best-cards/index.html">Best Cards</a>
    </nav>
{% endblock %}
