{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <!-- Adding needed scripts -->
    <!-- No needed script -->
{% endblock %}

{% block content %}
    <h1 id="archetypes">Archetypes</h1>
    <p>
        Here is a list of <strong>Vampire: the Eternal Struggle</strong> deck archetypes.
        Every archetype is presented with
        <a target="_blank" href="http://www.vekn.fr/decks/twd.htm">Tournament Winning Deck Archive (TWDA)</a>
        deck list examples, main variations, and a play guide.
    </p>
    <p>
        Only archetypes having proven themselves against at least 25 players since 2008 are taken into account,
        with the exception of some original designs for strategic reference.
        Example decklists are the most recent ones, or the ones with a Continental Championship win.
    </p>
    <p>
        If you're searching for other ideas or references, the
        <a target="_blank" href="https://drive.google.com/drive/folders/0B32R3iejqMPTaXNDd2d1b01lR1k">Bibliodèque</a>
        is a French project based on the TWDA that references 99 archetypes with example decklists,
        to help people building decks for their casual play or tournaments.
    </p>
    <div class="align-left">
    <table class="wide-column">
        <tbody>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='aaa') }}">AAA</a></td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='akunanse-wall') }}">Akunanse Wall</a></td>
                <td>(Wall)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='amaravati-politics') }}">Amaravati Politics</a></td>
                <td>(Politics)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='anti-ventrue-grinder') }}">Anti ventrue Grinder</a></td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='baltimore-purge') }}">Baltimore Purge</a></td>
                <td>(Special)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='bima-dominate') }}">Bima Dominate</a></td>
                <td>(Swarm Bleed)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='black-hand') }}">Black Hand</a></td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='cats') }}">Cats</a></td>
                <td>(Wall / Toolbox)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='council-of-doom') }}">Council of Doom</a></td>
                <td>(Bleed & Politics)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='cybelotron') }}">Cybelotron</a></td>
                <td>(Special)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='daughters-politics') }}">Daughters Politics</a></td>
                <td>(Politics)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='death-star') }}">Death Star</a></td>
                <td>(Politics)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='dmitris-big-band') }}">Dmitri's Big Band</a></td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='emerald-legion') }}">Emerald Legion</a></td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='euro-brujah') }}">Euro Brujah</a></td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='girls-will-find-inner-circles') }}">Girls Will Find Inner Circle</a></td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='goratrix-high-tower') }}">Goratrix High Tower</a></td>
                <td>(Wall)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='guruhi-rush') }}">Guruhi Rush</a></td>
                <td>(Rush / Toolbox)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='hunters') }}">Hunters</a></td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='ishtarri-politics') }}">Ishtarri Politics</a></td>
                <td>(Politics)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='jost-powerbleed') }}">Jost Powerbleed</a></td>
                <td>(Powerbleed)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='khazars-diary') }}">Khazar's Diary</a></td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='kiasyd-stealth-bleed') }}">Kiasyd Stealth & Bleed</a></td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='lasombra-nocturn') }}">Lasombra Nocturn</a></td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='lutz-politics') }}">Lutz Politics</a></td>
                <td>(Bleed & Politics)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='madness-reversal') }}">Madness Reversal</a></td>
                <td>(Special)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='mind-rape') }}">Mind Rape</a></td>
                <td>(Special)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='mistress') }}">Mistress</a></td>
                <td>(Bleed & Politics)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='nananimalism') }}">Nananimalism</a></td>
                <td>(Rush)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='nephandii') }}">Nephandii</a></td>
                <td>(Toolbox)</td>
            </tr>
        </tbody>
    </table>
    <table class="wide-column">
        <tbody>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='nosferatu-royalty') }}">Nosferatu Royalty</a></td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='rachel-madness') }}">Rachel Madness</a></td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='ravnos-clown-car') }}">Ravnos Clown Car</a></td>
                <td>(Swarm Politics)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='renegade-assault') }}">Renegade Assault</a></td>
                <td>(Rush)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='saulot-and-friends') }}">Saulot & Friends</a></td>
                <td>(Wall)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='scout') }}">Scout</a></td>
                <td>(Politics)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='shambling-hordes') }}">Shambling Hordes</a></td>
                <td>(Rush)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='spirit-marionette') }}">Spirit Marionette</a></td>
                <td>(Special)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='stanislava') }}">Stanislava</a></td>
                <td>(Bleed & Politics)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='team-jacob') }}">Team Jacob</a></td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='the-bleeding-vignes') }}">The Bleeding Vignes</a></td>
                <td>(Powerbleed)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='the-dark-side-of-politics') }}">The Dark Side of Politics</a></td>
                <td>(Politics)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='the-unnamed') }}">The unnamed</a></td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='tupdogs') }}">Tupdogs</a></td>
                <td>(Rush)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='tzimisce-toolbox') }}">Tzimisce Toolbox</a></td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='tzimisce-wall') }}">Tzimisce Wall</a></td>
                <td>(Wall)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='ventrue-royalty') }}">Ventrue Royalty</a></td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='war-chantry') }}">War Chantry</a></td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='war-ghouls') }}">War Ghouls</a></td>
                <td>(Rush)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='weenie-aus') }}">Weenie AUS</a></td>
                <td>(Wall)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='weenie-dem') }}">Weenie DEM</a></td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('archetypes.index', sub_page='weenie-dom') }}">Weenie DOM</a></td>
                <td>(Swarm Bleed)</td>
            </tr>
        </tbody>
    </table>
    </div>
{% endblock %}

{% block footer %}
    <nav role="navigation">
        <a class="prev" href="{{ url_for('archetypes.index') }}">Strategy</a>
        <a href="{{ url_for('index') }}">Home</a>
        <a class="next" href="../best-cards/index.html">Best Cards</a>
    </nav>
{% endblock %}
