{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <!-- Adding needed scripts -->
    <!-- No needed script -->
{% endblock %}

{% block content %}
    <h1>Strategy</h1>
    <p>
        This section explores <strong>Vampire: the Eternal Struggle</strong> strategy in some details.
    </p>
    <ul>
        <li><a href="fundamentals">Fundamentals</a> gives general tips and advices.</li>
        <li><a href="combat">Combat</a> explains combat in detail.</li>
        <li><a href="bloat">Bloat</a> details the different strategies to gain pool during a game.</li>
        <li><a href="deck-building">Deck building</a> gives some tools toward deck building.</li>
        <li><a href="archetypes">Archetypes</a> is an introduction to the different deck archetypes.</li>
        <li><a href="table-talk">Table Talk</a> presents negociation strategies and tips.</li>
    </ul>
    <h2>Black Chantry Sabbat pre-constructed decks guides</h2>
    <ul>
        <li><a href="deck-guides/den-of-fiends">Den of Fiends</a></li>
        <li><a href="deck-guides/libertine-ball">Libertine Ball</a></li>
        <li><a href="deck-guides/pact-with-nephandi">Pact with Nephandi</a></li>
        <li><a href="deck-guides/parliament-of-shadows">Parliament of Shadows</a></li>
    </ul>
    <h2>Black Chantry "First Blood" pre-constructed decks guides</h2>
    <p>
        Black Chantry released official guides for the First Blood decks series:
    </p>
    <ul>
        <li><a href="https://blackchantry.com/How%20to%20play%20the%20First%20Blood%20Ventrue%20deck.pdf">
            First Blood: Ventrue
        </a></li>
        <li><a href="https://blackchantry.com/How%20to%20play%20the%20First%20Blood%20Malkavian%20deck.pdf">
            First Blood: Malkavian
        </a></li>
        <li><a href="https://blackchantry.com/How%20to%20play%20the%20First%20Blood%20Nosferatu%20deck.pdf">
            First Blood: Nosferatu
        </a></li>
        <li><a href="https://blackchantry.com/How%20to%20play%20the%20First%20Blood%20Toreador%20deck.pdf">
            First Blood: Toreador
        </a></li>
        <li><a href="https://blackchantry.com/How%20to%20play%20the%20First%20Blood%20Tremere%20deck.pdf">
            First Blood: Tremere
        </a></li>
    </ul>
    <p>
        Copyright © 2019 White Wolf Entertainment AB. <a href="http://www.white-wolf.com">white-wolf.com</a>.
        All rights reserved.
    </p>
{% endblock %}

{% block footer %}
<nav role="navigation">
    <a class="prev" href="../card-search/index.html">Card Search</a>
    <a href="/">Home</a>
    <a class="next" href="../archetypes/index.html">Archetypes</a>
</nav>
{% endblock %}
