<!DOCTYPE html>
<html lang="en-GB">
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:image" content="{{ url_for('static', filename='img/codex.jpg') }}"/>
    <meta name="description" content="A compilation of Vampire: the Eternal Struggle (VTES) strategy resources">
    <meta name="keywords" content="Vampire, the Eternal Struggle, VtES, CCG">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icons/vtes.svg') }}">
	<scrip src="{{ url_for('static', filename='js/dC.js') }}"></script>
    <title>Codex of the Damned</title>
</head>
<body>
<header role="banner">
    <a href="/" class="site-logo">
        <img src="{{ url_for('static', filename='img/icons/vtes.svg') }}" alt="Codex of the Damned">
        <h1>Codex of the Damned</h1>
    </a>
    <nav role="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/strategy">Strategy</a></li>
            <li><a href="/archetypes">Archetypes</a></li>
            <li><a href="best-cards/index.html">Best Cards</a></li>
            <li><a href="deck-search/index.html">Deck Search</a></li>
            <li><a href="card-search/index.html">Card Search</a></li>
        </ul>
    </nav>
</header>
<article>
    {% block content %}{% endblock %}
</article>
<footer>
    {% block footer %}
    <img src="{{ url_for('static', filename='img/icons/dark-pack.png') }}">
    <p>
        Portions of the materials are the copyrights and trademarks of Paradox Interactive AB,
        and are used with permission. All rights reserved. For more information please visit
        <a target="_blank" href="http://white-wolf.com">white-wolf.com</a>.
    </p>
    {% endblock %}
</footer>
</body>
</html>
